@charset "UTF-8";
/* CSS Document */
*{
    box-sizing: border-box;
}
body{
    background: url(background.jpg) no-repeat fixed top left 
}
#container{
width: 800px;
    margin: 0 auto;
    
}
.left{
    width:380px;
    height: 200px;
    background-color: cornsilk;
    border-radius: 25px;
    float: left;
    margin: 0px 10px 0px 15px;
    padding: 30px 30px 30px 30px;
}

.right{
    width:380px;
    height: 200px;
    background-color: cornsilk;
    border-radius: 25px;
    float: left;
    margin: 0px 0px 10px 0px;
}
footer{
    background-color: rgb(150, 99, 109);
    clear: both
}
header > h1{
    text-align:center;
    color:rgba(255, 255, 255, 0.877)}
#container article{
    background-color:rgb(192, 165, 191);
}
